# Node dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & editor settings
.DS_Store
Thumbs.db
.idea/
.vscode/

# Bundles or zips
*.zip

# Tests & coverage
coverage/
*.test.ts